/* ------ ESTILO BODY ------ */

body {
    font-family:var(--fuente);
    font-size: 1rem;
    background-color:white;
    color: #333333;
    line-height: 1.5;
}

/* ------ ENCABEZADO ------ */

header {
    background-color: #4A90C2;
    color: white;
    text-align: center;
    padding: 2rem;
}

/* ------ PIE DE PÁGINA ------ */

footer {
    background-color: #333333;
    color: white;
}

/* ------ TÍTULOS ------ */

h1 {
    font-size: 2.5rem;
    color: white;
}

h2 {
    font-size: 1.8rem;
    color: #4A90C2;
}

h3 {
    font-size: 1.4rem;
    color: #F28C28;
}

h4 {
    font-size: 1.1rem;
    color: #333333;
}

/* ------ NAVEGACION ------ */

nav a {
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;

}

a:hover {
    color: #F28C28;
}

/* ------ RAIZ ------ */

:root {
--titulos:#4A90c2;
--fondo-del-footer:#333333;
--texto-header-y-footer:#FFFFFF;
--acento:#F6E7A1;
--fuente: Arial, sans-serif;
}

/* ------ TAMAÑOS ------ */

* {
margin:0;
padding:0;
box-sizing:border-box;
}
