/* ------ RAIZ ------ */
:root {
    --titulos:#4A90c2;
    --fondo-del-footer:#333333;
    --texto-header-y-footer:#FFFFFF;
    --acento:#F28C28;
    --fuente: Arial, sans-serif;
}

/* ------ TAMAÑOS ------ */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ------ ESTILO BODY ------ */
body {
    font-family: var(--fuente);
    font-size: 1rem;
    background-color:white;
    color: #333333;
    line-height: 1.5;
    padding: 0 2rem;
}

/* ------ PARRAFO ------ */
p {
    margin-bottom: 1rem;
}

/* ------ TÍTULOS ------ */
h1 {
    font-size: 2.5rem;
    color: var(--texto-header-y-footer);
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    color: var(--titulos);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--acento);
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1.1rem;
    color: #333333;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/* ------ ENCABEZADO ------ */
header {
    background-color: var(--titulos);
    color: var(--texto-header-y-footer);
    text-align: center;
    padding: 2rem;
}

header h1 {
    margin-bottom: 1rem;
}

/* ------ MAIN ------ */
main {
    margin-top: 2rem;
    padding: 0 2rem;
}

/* ------ PIE DE PÁGINA ------ */
footer {
    background-color: var(--fondo-del-footer);
    color: var(--texto-header-y-footer);
    padding: 2rem;
    margin-top: 2rem;
}

/* ------ NAVEGACION ------ */
nav {
    padding: 0.25rem 0.5rem;
    margin-top: 2rem;
}

nav a {
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 0.75rem;

}

a:hover {
    color: var(--acento);
}

/* ------ LISTAS ------ */
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.imagen {
    display: block;
    margin: 0 auto;
}